:host {
  display: block;
}

::ng-deep .mat-mdc-dialog-container {
  background: rgba(11, 18, 32, 0.95) !important;
  color: rgba(255, 255, 255, 0.92) !important;
}

mat-dialog-content {
  min-width: 400px;
  padding: 24px;
}

.full-width {
  width: 100%;
}

mat-dialog-actions {
  padding: 16px 24px;
}

::ng-deep .mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-select-value {
  color: rgba(255, 255, 255, 0.92) !important;
}

::ng-deep .mat-mdc-form-field-label {
  color: rgba(255, 255, 255, 0.72) !important;
}
